<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v16.0&appId=946999742346738&autoLogAppEvents=1" nonce="sz1M7BRa"></script>

<!-- <div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-7 hidden-sm hidden-xs">
                <div class="top-contacts">
                    <ul class="socials">
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    <ul class="contacts">
                        <li class="phone"><i class="fa fa-whatsapp" aria-hidden="true"></i>+241 00 00 00 00</li>
                        <li class="skype"><i class="fa fa-google" aria-hidden="true"></i>asmingassang2019@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="top-language">
                    <ul class="list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/common/en-flag.png" alt="selected language">EN</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"><img src="images/common/fr-flag.png" alt="language">FR</a>
                                </li>
                                <li>
                                    <a href="#"><img src="images/common/en-flag.png" alt="language">EN</a>
                                </li>
                                <li>
                                    <a href="#"><img src="images/common/ru-flag.png" alt="language">RU</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-search">
                    <form>
                        <input type="text" name="text">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div> -->


<div class="main-menu-wrap sticky-menu">
    <div class="container">
        <a href="/" class="custom-logo-link"><img src="images/soccer/logo.png" alt="logo" class="custom-logo" width="90" height="90"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">
                    <li class="active">
                        <a href="/"><span>Acceuil</span></a>
                        <!-- <ul>
                            <li><a href="amateurs.html"><span>Amateures Home</span></a></li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="matches.html"><span>Le club</span></a>
                        <ul>
                            <li><a href="/mot-du-president"><span>Mot du président</span></a></li>
                            <li><a href="/valeurs-du-club"><span>Valeurs</span></a></li>
                            <li><a href="#"><span>Charte QHS</span></a></li>
                            <li><a href="#"><span>Siège</span></a></li>
                            <li><a href="#"><span>Stade</span></a></li>
                            <li><a href="/a-propos-du-club"><span>A propos du club</span></a></li>
                            <li>
                                <a href="#"><span>Archives<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                                <ul>
                                    <!--  <li><a href="404.html"><span>404</span></a></li>
                                    <li><a href="offline.html"><span>offline</span></a></li> -->
                                    <li><a href="/galerie-photos"><span>Gallerie photos</span></a></li>
                                    <li><a href="/videotheque"><span>Vidéos</span></a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>Équipes</span></a>
                        <ul>
                            <li><a href="/effectif-club"><span>Éffectif</span></a></li>
                            <li><a href="/stats"><span>Statistiques</span></a></li>
                            <li><a href="/match-en-direct"><span>Match en direct </span></a></li>
                            <li><a href="/match"><span>Matchs à venir</span></a></li>
                            <li>
                                <a href="standing-cup.html"><span>Classement<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                                <ul>
                                    <li><a href="standings.html"><span>Championnat Provincial D3</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><span>Adhésion</span></a>
                        <ul>
                            <!--  <li><a href="404.html"><span>404</span></a></li>
                            <li><a href="offline.html"><span>offline</span></a></li> -->
                            <li><a href="/adhesion"><span>Dévenir adhérent</span></a></li>
                            <li><a href="/donations"><span>Donations</span></a></li>
                        </ul>
                    </li>
                    <li><a href="/billetterie"><span>Billetterie</span></a></li>
                    <!-- <li><a href="news-single.html"><span>Toutes les news</span></a></li> -->
                    <li><a href="/boutique"><span>Boutique</span></a></li>
                    
                    <li>
                        <a href="#"><span>Autres</span></a>
                        <ul>
                            <!--  <li><a href="404.html"><span>404</span></a></li>
                            <li><a href="offline.html"><span>offline</span></a></li> -->
                            <li><a href="/contact"><span>Contact</span></a></li>
                            <li><a href="/comptes"><span>Recherches</span></a></li> 
                              <li><a href="/faq"><span>FAQ</span></a></li>
                        </ul>
                    </li>
                    <!-- <li class="cart full">
                        <a href="#cart">
                            <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        </a>
                        <div class="cart-drop">
                            <table class="ct">
                                <tr>
                                    <td class="delete"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                                    <td class="info">
                                        <img class="product-image" src="images/common/cart-product.jpg" alt="product-image">
                                        <em>Men's T-Shirt<br><em class="price">1 x £ 60</em></em>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="delete"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                                    <td class="info">
                                        <img class="product-image" src="images/common/cart-product.jpg" alt="product-image">
                                        <em>Men's T-Shirt<br><em class="price">1 x £ 60</em></em>
                                    </td>
                                </tr>
                            </table>
                            <div class="wrap">
                                <div class="total-text">Subtotal: </div>
                                <div class="total-digit">£ 120</div>
                            </div>
                            <div class="wrap btn-wrap">
                                <a href="cart.html" class="btn view">View cart</a>
                                <a href="checkout.html" class="btn check">checkout cart</a>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>