<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ASM | Nos valeurs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="css/library/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="dev-assets/preloader-default.css" rel="stylesheet" type="text/css" />
    <link href="dev-assets/demo-switcher.css" rel="stylesheet" type="text/css" />
    
    <!-- 
    
    Enable one styles which the you want
    
    <link href="css-min/soccer.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/hockey.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/basketball.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/football.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/baseball.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/dota.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/csgo.min.css" rel="stylesheet" type="text/css" />
    
    All libraries included in this css, concating rules in /grunt/cssmin.js
    Use grunt default task for creating this files
    
    -->
</head>
<body>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="lksddsk37687yyuiuweu7287t8gyggiugu87uek;sldldj"></script>


    <%- include("./partials/preloader.ejs") %>

    <!--MAIN MENU AND NAVBAR WRAP BEGIN-->
    <%- include("./partials/header-navbar.ejs") %>
        <!--MAIN MENU WRAP END-->

    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <!-- <ul class="breadcrumbs">
                            <li><a href="index-2.html">Main</a>/</li>
                            <li>Category</li>
                        </ul> -->
                        <h1>Nos valeurs</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--CONTENT BEGIN-->

    <div class="content">
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-left">

                <!--SIEDBAR BEGIN-->

                  <!--SUCCESS STORY BEGIN-->
<section class="success-story sport">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
             
                <p>Chers membres de AS MINGASSANG, <br> <br>

                    Nous sommes un club de football basé dans la ville de Bitam, au Gabon. Nous sommes fiers de notre ville et de notre pays, et nous cherchons à contribuer à leur développement et à leur rayonnement en promouvant des valeurs positives et en encourageant l'esprit d'équipe et le respect de l'autre. <br> <br>
                    
                    Nous sommes un club qui se base sur des valeurs fortes. Nous croyons que le respect, la responsabilité, l'engagement et l'esprit d'équipe sont essentiels pour créer un environnement sain et propice au développement des jeunes joueurs. Nous cherchons à promouvoir ces valeurs à travers nos activités et nos actions, en mettant l'accent sur le respect de l'adversaire, des arbitres, des entraîneurs et des membres de l'équipe. <br> <br>
                    
                    Nous sommes également engagés à respecter certaines règles et interdits. Nous sommes contre toute forme de discrimination ou de violence, qu'elle soit physique ou verbale. Nous ne tolérons pas les actes de tricherie ou les comportements antisportifs. Nous croyons que le fair-play et l'honnêteté sont des valeurs essentielles pour un sport sain et respectueux. <br> <br>
                    
                    De même, nous avons une politique de tolérance zéro en matière d'actes de pédophilie ou de harcèlement, qui sont des crimes graves et inexcusables. Nous sommes déterminés à protéger nos joueurs, en particulier les plus jeunes, en créant un environnement sûr et accueillant. Nous encourageons la participation active des parents et des membres de la communauté à nos activités, et nous cherchons à promouvoir la transparence et l'ouverture dans toutes nos actions. <br> <br>
                    
                    Nous sommes également fiers de notre engagement envers la ville de Bitam et le Gabon. Nous cherchons à promouvoir leur développement économique et social en encourageant la participation active de la communauté dans nos activités et en créant des emplois et des opportunités pour les jeunes. Nous sommes fiers d'être un club de football de la ville de Bitam et nous cherchons à renforcer nos liens avec la communauté. <br> <br>
                    
                    Enfin, nous sommes fiers de nos partenaires internationaux, qui nous soutiennent dans notre mission de promouvoir des valeurs positives et de créer un environnement sain et accueillant pour tous. Nous sommes reconnaissants de leur soutien et nous cherchons à renforcer ces partenariats pour atteindre nos objectifs communs. <br> <br>
                    
                    Nous sommes conscients que notre rôle en tant que club de football ne se limite pas aux matchs et aux entraînements, mais englobe également la promotion de valeurs saines et positives. Nous sommes fiers de notre club et nous sommes déterminés à le faire croître tout en maintenant ces valeurs et ces principes. <br> <br>
                    
                    Merci de votre soutien et à bientôt. <br> <br>
                    
                    Le président.<br> <br></p>
                
            </div>
            <div class="col-md-5 position-relative">
                <img class="img-responsive" src="images/soccer/logo.png" alt="coach-image">
               
            </div>
            
        </div>
    </div>	
</section>
<!--SUCCESS STORY END-->

            </div>
        </div>
    </div>

    <!--CONTENT END-->

    <!--FOOTER BEGIN-->
    <%- include("./partials/footer.ejs") %>
    <!--FOOTER END-->

    <script type="text/javascript" src="js/library/jquery.js"></script>
<script type="text/javascript" src="js/library/jquery-ui.js"></script>
<script type="text/javascript" src="js/library/bootstrap.js"></script>
<script type="text/javascript" src="js/library/jquery.sticky.js"></script>
<script type="text/javascript" src="js/library/jquery.jcarousel.js"></script>
<script type="text/javascript" src="js/library/jcarousel.connected-carousels.js"></script>
<script type="text/javascript" src="js/library/owl.carousel.js"></script>
<script type="text/javascript" src="js/library/progressbar.js"></script>
<script type="text/javascript" src="js/library/jquery.bracket.min.js"></script>
<script type="text/javascript" src="js/library/chartist.js"></script>
<script type="text/javascript" src="js/library/Chart.js"></script>
<script type="text/javascript" src="js/library/fancySelect.js"></script>
<script type="text/javascript" src="js/library/isotope.pkgd.js"></script>
<script type="text/javascript" src="js/library/imagesloaded.pkgd.js"></script>

<script type="text/javascript" src="js/jquery.team-coundown.js"></script>
<script type="text/javascript" src="js/matches-slider.js"></script>
<script type="text/javascript" src="js/header.js"></script>
<script type="text/javascript" src="js/matches_broadcast_listing.js"></script>
<script type="text/javascript" src="js/news-line.js"></script>
<script type="text/javascript" src="js/match_galery.js"></script>
<script type="text/javascript" src="js/main-club-gallery.js"></script>
<script type="text/javascript" src="js/product-slider.js"></script>
<script type="text/javascript" src="js/circle-bar.js"></script>
<script type="text/javascript" src="js/standings.js"></script>
<script type="text/javascript" src="js/shop-price-filter.js"></script>
<script type="text/javascript" src="js/timeseries.js"></script>
<script type="text/javascript" src="js/radar.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/preloader.js"></script>
<script type="text/javascript" src="js/diagram.js"></script>
<script type="text/javascript" src="js/bi-polar-diagram.js"></script>
<script type="text/javascript" src="js/label-placement-diagram.js"></script>
<script type="text/javascript" src="js/donut-chart.js"></script>
<script type="text/javascript" src="js/animate-donut.js"></script>
<script type="text/javascript" src="js/advanced-smil.js"></script>
<script type="text/javascript" src="js/svg-path.js"></script>
<script type="text/javascript" src="js/pick-circle.js"></script>
<script type="text/javascript" src="js/horizontal-bar.js"></script>
<script type="text/javascript" src="js/gauge-chart.js"></script>
<script type="text/javascript" src="js/stacked-bar.js"></script>

<script type="text/javascript" src="js/library/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="js/library/chartist-plugin-threshold.js"></script>
<script type="text/javascript" src="js/library/chartist-plugin-pointlabels.js"></script>

<script type="text/javascript" src="js/treshold.js"></script>
<script type="text/javascript" src="js/visible.js"></script>
<script type="text/javascript" src="js/anchor.js"></script>
<script type="text/javascript" src="js/landing_carousel.js"></script>
<script type="text/javascript" src="js/landing_sport_standings.js"></script>
<script type="text/javascript" src="js/twitterslider.js"></script>
<script type="text/javascript" src="js/champions.js"></script>
<script type="text/javascript" src="js/landing_mainnews_slider.js"></script>
<script type="text/javascript" src="js/carousel.js"></script>
<script type="text/javascript" src="js/video_slider.js"></script>
<script type="text/javascript" src="js/footer_slides.js"></script>
<script type="text/javascript" src="js/player_test.js"></script>

<script type="text/javascript" src="js/main.js"></script>
    
	<!--DEMO SWITCHER BEGIN-->
<a class="demo-switcher-small-button">
    <i class="fa fa-cog fa-spin fa-fw margin-bottom"></i>
</a>
<div class="demo-switcher"> 
    <div class="switcher-header">
        <p><i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i>demo switcher</p>
    </div>
    <div class="switcher-menu">
        <div class="special-list">
            <h3>New demos</h3>
            <ul>
                <li><a href="sport-championship-landing.html" data-scheme="csgo"><i class="fa fa-star" aria-hidden="true"></i>sport championship</a></li>
                <li><a href="sport-team-landing.html" data-scheme="csgo"><i class="fa fa-star" aria-hidden="true"></i>sport team</a></li>
                <li class="small-letter"><a href="esport-championship-landing.html" data-scheme="csgo"><i class="fa fa-star" aria-hidden="true"></i><p>eSport championship</p></a></li>
                <li class="small-letter"><a href="esport-team-landing.html" data-scheme="csgo"><i class="fa fa-star" aria-hidden="true"></i><p>eSport team</p></a></li>
            </ul>
        </div>
        <ul class="light-list demo-swith">
            <li><a href="indexa369.html?scheme=soccer" data-scheme="soccer"><span class="soccer"></span>Soccer</a></li>
            <li><a href="index70c2.html?scheme=amfootball" data-scheme="amfootball"><span class="football"></span>Football</a></li>
            <li><a href="index075a.html?scheme=hockey" data-scheme="hockey"><span class="hockey"></span>Hockey</a></li>
            <li><a href="indexc4b0.html?scheme=baseball" data-scheme="baseball"><span class="baseball"></span>Baseball</a></li>
            <li><a href="index9439.html?scheme=basketball" data-scheme="basketball"><span class="basketball"></span>Basketball</a></li>
        </ul>
        <ul class="dark-list demo-swith">
            <li><a href="index8bc9.html?scheme=csgo" data-scheme="csgo"><span class="csgo"></span>CS:GO</a></li>
            <li><a href="indexd51a.html?scheme=dota" data-scheme="dota"><span class="dota"></span>DOTA</a></li>
        </ul>
    </div>
</div>
<!--DEMO SWITCHER END-->

<script type="text/javascript" src="dev-assets/demo-switcher.js"></script>

</body>


</html>
