<nav class="pcoded-navbar">
    <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigation-label">Navigation</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="pcoded-hasmenu active pcoded-trigger">
                    <a href="/admin/index" class="waves-effect waves-dark">
                        <span class="pcoded-micon"></span>
                        <span class="pcoded-mtext">Tableau de bord</span>
                    </a>
                    
                </li>
                
            </ul>
            <div class="pcoded-navigation-label">Gestion contenus</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="pcoded-hasmenu">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <i class="feather icon-box"></i>
                        </span>
                        <span class="pcoded-mtext">Direct infos</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a href="/admin/breaking_news" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Articles de presse</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/admin/main_events" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Main events</span>
                            </a>
                        </li>
                        <!-- <li class="">
                            <a href="../default/breadcrumb.html" class="waves-effect waves-dark">
                                <span class="pcoded-mtext">Macth en direct</span>
                            </a>
                        </li>  -->
                    </ul>
                </li>
              
            </ul>
            </li>
           
        </div>
    </div>
</nav>